<!DOCTYPE html>
<html>
  <head>
    <title>List Puppies</title>
  </head>
  <body>
    Puppy Name: <%= @puppy.name %><br />
    Breed: <%= @puppy.breed %><br />
    Age: <%= @puppy.age %><br />
  </body>
</html>
